{% for admin in db2_admins %}
{{ admin }} ALL= NOPASSWD: /opt/ibm/db2/*/instance/db2ilist
{{ admin }} ALL= NOPASSWD: /opt/ibm/db2/*/instance/db2icrt
{{ admin }} ALL= NOPASSWD: /opt/ibm/db2/*/instance/db2idrop
{{ admin }} ALL= NOPASSWD: /opt/ibm/db2/*/instance/db2iupgrade
{{ admin }} ALL= NOPASSWD: /opt/ibm/db2/*/instance/db2iupdt

{% endfor %}
